<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{fragments/settingsPage :: settingsFragment }" />
    <title>Student Update</title>
  </head>
  <body th:object="${student}">
    <th:block th:insert="~{fragments/headerPage :: headerFragment }" />
    <h1 class="centered-header">Edit Student</h1>
    <div class="form-container">
      <form
        th:action="@{/studentupdateform}"
        method="post"
        class="student-form"
      >
        <input type="hidden" name="id" th:value="${student.id}" />
        <input
          type="text"
          name="name"
          th:value="${student.name}"
          placeholder="Name"
          class="input-field"
        />
        <input
          type="text"
          name="lastname"
          th:value="${student.lastname}"
          placeholder="Lastname"
          class="input-field"
        />
        <input
          type="number"
          name="age"
          th:value="${student.age}"
          placeholder="Age"
          class="input-field"
        />
        <input
          type="text"
          name="email"
          th:value="${student.email}"
          placeholder="Email"
          class="input-field"
        />
        <input
          type="text"
          name="phone"
          th:value="${student.phone}"
          placeholder="Phone"
          class="input-field"
        />
        <input type="submit" value="Save" class="submit-button" />
      </form>
    </div>

    <h1 class="centered-header">Add Payments</h1>
    <div class="payment-form-container">
      <form th:action="@{/addPaymentForm}" method="post" class="payment-form">
        <input type="hidden" name="studentId" th:value="${student.id}" />
        <input
          type="number"
          name="paymentAmount"
          min="0"
          placeholder="Payment Amount"
        />
        <input type="date" name="paymentDate" />
        <input
          type="number"
          name="yearNumber"
          min="1"
          placeholder="Year Number"
        />
        <input type="submit" value="Save" />
      </form>
    </div>

    <div class="table-container">
      <table class="student-table">
        <tr>
          <th>ID</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Year number</th>
          <th>Action</th>
        </tr>
        <tr th:each="paymentObj : ${student.payments}">
          <form action="" method="post" class="action-form">
            <td>
              <input
                type="text"
                disabled
                name="id"
                th:value="${paymentObj.id}"
              />
            </td>
            <td>
              <input
                type="number"
                name="paymentAmount"
                th:value="${paymentObj.paymentAmount}"
              />
            </td>
            <td>
              <input
                type="date"
                name="paymentDate"
                th:value="${paymentObj.paymentDate}"
              />
            </td>
            <td>
              <input
                type="number"
                name="yearNumber"
                th:value="${paymentObj.yearNumber}"
              />
            </td>
            <td>
              <button type="button" id="btnPaymentSave" class="action-button">
                Save
              </button>
            </td>
          </form>
        </tr>
      </table>
    </div>
    <script type="module" src="js/studentUpdate.js"></script>
  </body>
</html>
